<div>
    <h1>Example 1: Basic usage</h1>
</div>
<form class="bs-docs-example form-horizontal">
    {{#if user.isValidated}}
        {{#if user.validationResult.hasError}}
            <div class="alert alert-error">
                <strong>Error!</strong><br>
                <ul>
                    {{#each error in user.validationResult.errors}}
                        <li>{{error}}</li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <div class="alert alert-success">
                <strong>User is valid!</strong><br>
            </div>
        {{/if}}
    {{/if}}
    <div class="control-group" {{bind-attr class="user.validationResult.name.hasError:error:"}}>
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            {{view Ember.TextField id="inputName" valueBinding="user.name"}}
            <span class="help-inline">{{user.validationResult.name.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="user.validationResult.age.hasError:error:"}}>
        <label class="control-label" for="inputAge">Age</label>
        <div class="controls">
            {{view Ember.TextField id="inputAge" valueBinding="user.age"}}
            <span class="help-inline">{{user.validationResult.age.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="user.validationResult.email.hasError:error:"}}>
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            {{view Ember.TextField id="inputEmail" valueBinding="user.email"}}
            <span class="help-inline">{{user.validationResult.email.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="user.validationResult.zodiac.hasError:error:"}}>
        <label class="control-label" for="inputZodiac">Zodiac</label>
        <div class="controls">
            {{view Ember.TextField id="inputZodiac" valueBinding="user.zodiac"}}
            <span class="help-inline">{{user.validationResult.zodiac.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="user.validationResult.password.hasError:error:"}}>
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            {{view Ember.TextField id="inputPassword" valueBinding="user.password"}}
            <span class="help-inline">{{user.validationResult.password.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="user.validationResult.password.hasError:error:"}}>
        <label class="control-label" for="inputPassword2">Password 2</label>
        <div class="controls">
            {{view Ember.TextField id="inputPassword2" valueBinding="user.password2"}}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" {{action "clear"}}>Clear</button>
            <button type="submit" class="btn" {{action "validate"}}>Validate</button>
        </div>
    </div>
</form>