<div>
    <h1>Example 2: Live validation</h1>
</div>
<form class="bs-docs-example form-horizontal">
    {{#if model.isValidated}}
        {{#if model.validationResult.hasError}}
            <div class="alert alert-error">
                <strong>Error!</strong><br>
                <ul>
                    {{#each error in model.validationResult.errors}}
                        <li>{{error}}</li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <div class="alert alert-success">
                <strong>User is valid!</strong><br>
            </div>
        {{/if}}
    {{/if}}
    <div class="control-group" {{bind-attr class="view.inputName.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            {{validator-text-field viewName="inputName" id="inputName" value=name}}
            <span class="help-inline">{{view.inputName.validationResult.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="view.inputAge.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputAge">Age</label>
        <div class="controls">
            {{validator-text-field viewName="inputAge" id="inputAge" value=age}}
            <span class="help-inline">{{view.inputAge.validationResult.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="view.inputEmail.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            {{validator-text-field viewName="inputEmail" id="inputEmail" value=email}}
            <span class="help-inline">{{view.inputEmail.validationResult.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="view.inputZodiac.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputZodiac">Zodiac</label>
        <div class="controls">
            {{validator-text-field viewName="inputZodiac"  id="inputZodiac" value=zodiac}}
            <span class="help-inline">{{view.inputZodiac.validationResult.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="view.inputPassword.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            {{validator-text-field viewName="inputPassword" id="inputPassword" value=password}}
            <span class="help-inline">{{view.inputPassword.validationResult.error}}</span>
        </div>
    </div>
    <div class="control-group" {{bind-attr class="view.inputPassword.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputPassword2">Password 2</label>
        <div class="controls">
            {{repeat-password-text-field id="inputPassword2" value=model.password2}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputIsAdmin">Is ninja?</label>
        <div class="controls">
            {{input type="checkbox" id="inputIsAdmin" checked=isNinja}}
        </div>
    </div>
    {{#if isNinja}}
    <div class="control-group" {{bind-attr class="view.inputSecretWord.validationResult.hasError:error:"}}>
        <label class="control-label" for="inputSecretWord">Secret Ninja Word</label>
        <div class="controls">
            {{validator-text-field viewName="inputSecretWord" id="inputSecretWord" value=secretNinjaWord}}
            <span class="help-inline">{{view.inputSecretWord.validationResult.error}}</span>
        </div>
    </div>
    {{/if}}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" {{action "clear"}}>Clear</button>
            <button type="submit" class="btn" {{action "validate"}}>Validate</button>
        </div>
    </div>
</form>